<header>
    <section class="py-6 text-white">
        <h2 class="text-center text-capitalize font-weight-bold page-heading mb-3"><span
                class="text-uppercase d-block font-weight-normal mb-3">to follow</span>guidelines</h2>
        <span class="page-title-shape text-center d-block">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="71px"
                height="11px">
                <path fill-rule="evenodd"
                    d="M59.669,10.710 L49.164,3.306 L39.428,10.681 L29.714,3.322 L20.006,10.682 L10.295,3.322 L1.185,10.228 L-0.010,8.578 L10.295,0.765 L20.006,8.125 L29.714,0.765 L39.428,8.125 L49.122,0.781 L59.680,8.223 L69.858,1.192 L70.982,2.895 L59.669,10.710 Z">
                </path>
            </svg>
        </span>
    </section>
</header>

<main>
    <section class="py-6 text-center bg-light">
        <h4 class="text-capitalize h3 font-weight-bold">call for papers</h4>
        <div class="container mt-4">
            <div class="row d-flex flex-row align-items-center">
                <div class="col-md-3 col-sm-6 col-12 lead py-2">Machine Learning</div>
                <div class="col-md-3 col-sm-6 col-12 lead py-2">AI &amp; Robotics</div>
                <div class="col-md-3 col-sm-6 col-12 lead py-2">Data Mining</div>
                <div class="col-md-3 col-sm-6 col-12 lead py-2">Big Data Analytics</div>
                <div class="col-md-3 col-sm-6 col-12 lead py-2">Cloud Computing</div>
                <div class="col-md-3 col-sm-6 col-12 lead py-2">Networking</div>
                <div class="col-md-3 col-sm-6 col-12 lead py-2">Internet of Things</div>
                <div class="col-md-3 col-sm-6 col-12 lead py-2">Image Processing</div>
                <div class="col-md-3 col-sm-6 col-12 lead py-2">Parallel Computing</div>
                <div class="col-md-3 col-sm-6 col-12 lead py-2">Web Services</div>
                <div class="col-md-3 col-sm-6 col-12 lead py-2">Wireless Sensor Networks</div>
                <div class="col-md-3 col-sm-6 col-12 lead py-2">Information &amp; Data Security</div>
                <div class="col-md-3 col-sm-6 col-12 lead py-2">Grid Computing</div>
                <div class="col-md-3 col-sm-6 col-12 lead py-2">Speech Processing</div>
                <div class="col-md-3 col-sm-6 col-12 lead py-2">Multimedia Communication</div>
                <div class="col-md-3 col-sm-6 col-12 lead py-2">Natural Language Processing</div>
                <div class="col-md-3 col-sm-6 col-12 lead py-2">Pattern Recognition</div>
                <div class="col-md-3 col-sm-6 col-12 lead py-2">Bioinformatics</div>
                <div class="col-md-3 col-sm-6 col-12 lead py-2">Ad-Hoc Networks</div>
                <div class="col-md-3 col-sm-6 col-12 lead py-2">Neural Networks</div>
                <div class="col-md-3 col-sm-6 col-12 lead py-2">Computer Graphics</div>
                <div class="col-md-3 col-sm-6 col-12 lead py-2">Visualisation</div>
            </div>
        </div>
        <p class="text-muted mt-3">* Papers, projects &amp; posters are invited in the above topics of interest, but
            not
            limited to.
            <br> The papers, research work or case studies submitted for the conference must be original and not
            submitted
            elsewhere or published.</p>

    </section>

    <section class="py-6 text-center">
        <h4 class="text-capitalize h3 font-weight-bold">basic guidelines</h4>
        <div class="container mt-4">
            <p>
                <strong>Paper format: </strong>IEEE double column (max 6 pages)
                <br>
                <strong>Poster size: </strong>24x36 inches (vertical)
                <br>
                <strong>Project: </strong>Project title and abstract of 200 words
                <br>
            </p>
            <p>
                All Papers / Projects / Posters (PDF) should be sent to: <a href="mailto:jssncait2019@gmail.com"
                    class="text-decoration-none href-link"><strong>jssncait2019@gmail.com</strong></a>
            </p>
            <p class="lead">
                The acceptance of the Paper / Project / Poster will be intimated after peer-review. At least one of
                the
                authors of the accepted paper should register by sending DD on or before 28<sup>th</sup> March 2019.
            </p>
            <p>Use the following templates to prepare your paper, poster and project.</p>
            <div>
                <a href="/templates/NCAIT2019_Paper-Template.pdf"
                    class="href-link font-weight-bold text-capitalize p-2 mt-3" target="_blank">Paper template <i
                        class="fas fa-external-link-alt"></i></a>
                <a href="/templates/NCAIT2019_Poster-Template.pptx"
                    class="href-link font-weight-bold text-capitalize p-2 mt-3" target="_blank">Poster template <i
                        class="fas fa-external-link-alt"></i></a>
                <a href="/templates/NCAIT2019_ProjectAbstract_Template.docx"
                    class="href-link font-weight-bold text-capitalize p-2 mt-3" target="_blank">Project template <i
                        class="fas fa-external-link-alt"></i></a>
            </div>
        </div>
        <a href="#" class="btn btn-contact btn-lg mt-4 py-3 px-5 text-white disabled">REGISTER NOW</a>
    </section>
</main>

<footer class="footer py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12 text-md-left text-center copy-text">&copy; 2019 NCAIT. All rights reserved
            </div>
        </div>
    </div>
</footer>
